<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/candies']">Candy Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" [routerLink]="['/candies']">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="navbar-dark bg-primary fixed-bottom text-center">
  <span class="navbar-brand mb-0 h1">{{title}} 2020 - Seminario de Angular</span>
</footer>